
<a href="{{ url }}" class="col-span-full md:col-span-6 lg:col-span-4 block rounded-lg border border-gray-300 bg-white p-6 shadow-sm hover:shadow-md focus:outline-none focus:ring-2 focus:ring-slate-500 focus:ring-offset-2 transition-all">
    <div class="text-center aspect-[2/1] flex flex-center justify-center items-center flex-wrap">
        <h3 class="text-lg font-semibold text-gray-900">{{ text }}</h3>
        <div class="divide-y divide-slate h-[3px] w-full flex flex-col"><span></span><span></span></div>
        <p class="mt-2 text-sm text-gray-600">{{ description }}</p>
    </div>
</a>

