{% extends 'layouts/dashboard_layout.html' %}

{% block title %} companies Management {% endblock %}

{% block dashboard_content %}
    {% include 'partials/dashboard-header.html' with title="Zones Management" subtitle="Welcome to your workspace" %}

    <section class="w-full grid gap-4 grid-cols-12 mt-16">
        <header class="col-span-full">
            <h2> Actions Panel </h2>
        </header>

        {% with url='/buildings/zones/' text='List of all zones' description='List all companies' %}
            {% include 'partials/clickable_card.html' with url=url text=text description=description %}
        {% endwith %}

        {% with url='/buildings/zones/create/' text='Create zone' description='Create new company' %}
            {% include 'partials/clickable_card.html' with url=url text=text description=description %}
        {% endwith %}
    </section>
{%  endblock  %}