{% extends 'layouts/dashboard_layout.html' %}
{% block title %}Camera Feed Grid{% endblock %}

{% block dashboard_content %}
<section class="min-h-screen pt-8 flex flex-col items-center bg-gray-100">
    <a class="text-sm w-full bg-slate-600 max-w-md mb-5 text-center text-white py-2 px-4 rounded-md hover:bg-slate-700 focus:outline-none focus:ring-2 focus:ring-slate-500"
       href="{% url 'camera_home' %}">
        <- Go Back
    </a>
    <h2 class="text-2xl font-bold mb-6">Camera Feed Grid</h2>

    <!-- Filters  -->
    <form method="get" class="w-full max-w-6xl mb-6 flex flex-wrap gap-4 items-center justify-center">
        <a class="p-2 bg-slate-600 text-white rounded-md hover:bg-slate-700" href="{% url 'camera_feed_upload' %}">
            Upload a New Feed
        </a>
        <select name="company" class="p-2 border rounded-md bg-white pr-8" onchange="this.form.submit()">
            <option value="">Select Company</option>
            {% for company in companies %}
            <option value="{{ company.id }}" {% if company.id|stringformat:"s" == selected_company_id %}selected{% endif %}>
                {{ company.name }}
            </option>
            {% endfor %}
        </select>

        <select name="building" class="p-2 border rounded-md bg-white pr-8" onchange="this.form.submit()">
            <option value="">Select Building</option>
            {% for building in buildings %}
            <option value="{{ building.id }}" {% if building.id|stringformat:"s" == selected_building_id %}selected{% endif %}>
                {{ building.label }}
            </option>
            {% endfor %}
        </select>

        <select name="zone" class="p-2 border rounded-md bg-white pr-8" onchange="this.form.submit()">
            <option value="">Select Zone</option>
            {% for zone in zones %}
            <option value="{{ zone.id }}" {% if zone.id|stringformat:"s" == selected_zone_id %}selected{% endif %}>
                {{ zone.label }}
            </option>
            {% endfor %}
        </select>
        <button type="submit" class="p-2 bg-slate-600 text-white border rounded-md hover:bg-slate-700">
            Filter
        </button>
        <a href="{% url 'camera_feed_grid' %}" class="p-2 bg-white text-gray-700 border rounded-md">
            Clear Filters
        </a>
    </form>

    <!-- Camera Grid -->
    <div class="p-2 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 w-full max-w-6xl">
        {% for camera in cameras %}
            <div class="bg-white shadow-lg rounded-lg p-4 h-full relative
                {% if camera.feeds.authorized %} outline outline-green-500 outline-[3px] outline-inset
                {% else %} outline outline-red-500 outline-[3px] outline-inset
                {% endif %}"
            >
            <h3 class="text-lg font-bold text-gray-900 mb-2">{{ camera.label }} - {{ camera.zone.building.label }} - {{ camera.zone.label }}</h3>
                <div class="font-semibold h-4 py-4  my-4 rounded-md flex items-center justify-center
                 {% if camera.feeds.authorized %} bg-green-200
                 {% else %} bg-red-200
                 {% endif %}
                ">
                    Authorized: {{ camera.feeds.authorized }}
                </div>
            {% if camera.feeds %}
                <p class="text-sm text-gray-500">Face Feed</p>
                <img src="{{ camera.feeds.image_path_face.url }}" alt="Face Feed" class="rounded-md object-cover h-36 w-full mb-4">
                <p class="text-sm text-gray-500">Silhouette Feed</p>
                <img src="{{ camera.feeds.image_path_silhouette.url }}" alt="Silhouette Feed" class="rounded-md object-cover h-36 w-full">
                <p class="mt-2 text-sm text-gray-500">{{ camera.feeds.date_uploaded }}</p>
            {% else %}
            <div class="bg-gray-200 h-48 rounded-md flex items-center justify-center">
                <p class="text-gray-500">No feeds available</p>
            </div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</section>
{% endblock %}
