{% extends 'layouts/dashboard_layout.html' %}
{% load socialaccount %}

{% block title %} Dashboard {% endblock %}

{% block dashboard_content %}


            {% include 'partials/dashboard-header.html' with title="Dashboard" subtitle="Welcome to your workspace" %}

            <section class="w-full grid gap-4 grid-cols-12 mt-16">
                <header class="col-span-full">
                    <h2> Actions Panel </h2>
                </header>

                {% with url='/auth/upload/' text='Upload Images' description='Here you can upload face and silhouette images' %}
                    {% include 'partials/clickable_card.html' with url=url text=text description=description %}
                {% endwith %}

                {% with url='/auth/uploaded-photos-list/' text='My Uploaded Images' description='Here you can see your uploaded photos' %}
                    {% include 'partials/clickable_card.html' with url=url text=text description=description %}
                {% endwith %}

                {% with url='/user_management/' text='User Management' description='This is a description for card 1.' %}
                    {% include 'partials/clickable_card.html' with url=url text=text description=description %}
                {% endwith %}

                {% with url='/details/1' text='Building Management' description='This is a description for card 1.' %}
                    {% include 'partials/clickable_card.html' with url=url text=text description=description %}
                {% endwith %}

                {% with url='/details/1' text='Permissions Management' description='This is a description for card 1.' %}
                    {% include 'partials/clickable_card.html' with url=url text=text description=description %}
                {% endwith %}

                {% with url='/details/1' text='Camera Management' description='This is a description for card 1.' %}
                    {% include 'partials/clickable_card.html' with url=url text=text description=description %}
                {% endwith %}

                {% with url='/details/1' text='Company Management' description='This is a description for card 1.' %}
                    {% include 'partials/clickable_card.html' with url=url text=text description=description %}
                {% endwith %}
            </section>

{% endblock %}