{% extends 'base.html' %}
{% load socialaccount %}

{% block title %} Index {% endblock %}

{% block content %}

    <div class="grid grid-cols-12">
        {% include 'partials/sidebar.html' %}

        <div class="col-span-full h-auto md:col-span-8 px-8 pt-8 items-start">

            <section class="w-full grid gap-4 grid-cols-12 mt-16">
                <header class="col-span-full">
                    <h2> Actions Panel </h2>
                </header>

                {% with url='/auth/accounts/login' text='Login' description='Log in the the system' %}
                    {% include 'partials/clickable_card.html' with url=url text=text description=description %}
                {% endwith %}

                {% with url='/auth/accounts/login' text='Register' description='Register to the system' %}
                    {% include 'partials/clickable_card.html' with url=url text=text description=description %}
                {% endwith %}

                {% with url='/dashboard' text='Dashboard' description='Security System main panel' %}
                    {% include 'partials/clickable_card.html' with url=url text=text description=description %}
                {% endwith %}
            </section>

        </div>
    </div>

{% endblock %}